@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
*/
/*
.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: white;
}

header div h1{
    margin-left: 60px;
    margin-bottom: 20px;
}
.nav{
    background-color: white;
}


.menu-horizontal{
    display: flex;
    gap: 3.125rem;
    list-style: none;
    margin-right: 200px;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
}

.menu-horizontal li:hover{
    background-color:#B5B5B5
}

.menu-vertical{
    position: absolute;
    list-style: none;
    display: none;
    width: 300px;
    background-color: white;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: #B5B5B5;
}

.menu-vertical li a{
    display: block;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
}


h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style:normal;
    font-size: 50px;
    margin-top: 20px;
}

.f-p {
    height: 520px;  
    background-image: url("../assets/img/fondo-principal.jpg");
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 80px;
    background-size: cover;
}

.h1-1{
    font-weight: 600;
}

.header-input{
    margin-right: 10px;
}   

.carritodecompras,
.persona-index{
    width: 25px;
    margin-left: 10px;
}


/*PRODUCTOS*/

.nombre-remeras, 
.nombre-buzos,
.nombre-jeans,
.nombre-vestidos {
    background-color: #434343;
    width: 350px;
    padding: 5px 5px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.titulo1,
.titulo2,
.titulo3,
.titulo4 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

.contenedor-productos{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    justify-content: space-around;
}

/*PRODUCTOS DESTACADOS*/

.camisa-desta,
.vestido-desta,
.buzos-desta,
.jean-desta,
.body-desta {
    height: 350px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
}


.buzos-desta:hover,
.camisa-desta:hover,
.jean-desta:hover,
.body-desta:hover,
.vestido-desta:hover{
    transform: scale(1.1);
}

.productos-destacados {
    background-color: #b5b5b57a;
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.productos-destacados h2{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a2929;
}


.contenedor-productos2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

/*FOOTER*/

footer {
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}   

footer h2{
    font-size: 55px;
}

.opciones-footer{
    list-style: none;
    display: flex;
    font-weight: 300;
}

.opciones-footer li a{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin: 50px;
}


/*EN GENERAL*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 25px;
    margin-bottom: 150px;
    margin-left: 5%;
    justify-content: center;
    row-gap: 1.5625rem;
}

.section-titulos{
    background-color: #434343;
    color: #ffffff;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button a {
    color: #ffffff;
    text-decoration: none;
}

button {
    background-color: #434343;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
    border: #434343;
    border-radius: 4px;
    margin: 5px 0px;
}

.precio {
    color: black;
    font-weight: 200px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
}

/*
PAGINA: REMERAS Y CAMISAS
*/

.camisaverde,
.camisarosa,
.camisalino,
.remerabasica,
.remerafit {
    height: 350px;
    width: 280px;
}

.remeras,
.vestidos,
.grid {
    color: #434343;
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400  ;
    font-style: normal;
}


/*
PAGINA: VESTIDOS
*/
.vestilargo,
.vestilanilla,
.monobotones,
.vestisaten {
    height: 350px;
    width: 280px;
}

/*
PAGINA: JEANS/BUZOS/BODIES
*/
.jeansally,
.buzocamio,
.buzocap,
.buzored,
.buzocrop,
.buzohood,
.buzohood2,
.bodyliso,
.topelasticos,
.jeanwide {
    height: 350px;
    width: 280px;
}

/*
PAGINA: PREGUNTAS FRECUENTES
*/

.titulo-pregfrecuentes{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-bottom: 1px solid #434343;
    font-size: 25px;
}
.lineagris{
    background-color: #434343;
    padding: 15px;
    margin-bottom: 20px;
}

.titulo-pf {
    margin-bottom: 10px;
    margin-top: 20px;
}

.seccion-pregfrecuentes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 20px;
    align-items: center;
}

.article-metodopago{
    margin-bottom: 40px;
    margin-right: 5%;
    background-color: #F4F4F4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px 60px 30px 50px
}

.article-envios{
    margin-bottom: 40px;
    margin-left: 5%;
    background-color: #F4F4F4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px 60px 45px 50px
}

.article-pedidos{
    margin-bottom: 40px;
    margin-right: 5%;
    background-color: #F4F4F4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px 60px 55px 50px
}

.article-cambios{
    margin-bottom: 40px;
    margin-left: 5%;
    background-color: #F4F4F4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px 60px 50px 50px
}

.footer-pregfrecuentes{
    margin-top: 100px;
}
/*
PAGINA: REGISTRARSE
*/

.grid-registro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.form-registrado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-registrado{
    background-color: #F4F4F4; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-registrado h2{
    margin-bottom: 35px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #434343;
}

.form-registrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-registrarse label{
    align-self: start;
    margin-bottom: 5px
}

.section-registrarse{
    background-color: #F4F4F4; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-registrarse h2{
    margin-bottom: 35px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #434343;
}

.controls{
    width: 300px;
    padding: 5px;
    margin-bottom: 16px;
    background-color: #F4F4F4;
}

input::placeholder{
    font-size: 13px;
    font-style: oblique;
}

.submit{
    padding: 6px;
    width: 50%;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #434343;
}

.footer-registrar{
    margin-top: 100px;
}
/*
PAGINA: CONTACTANOS 
*/

.section-contactanos{
    display: flex;
    justify-content: space-around;
}
.titulo-contactanos{
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
    border-bottom: 1px solid #434343;
    margin-right: 73%;
}

.div-contactanos{
    display: flex;
    align-items: center;
    padding: 39px;
    border: 1px solid #43434339;
    background-color: #e4e4e4b0;
    padding-right: 400px;
    margin-left: 100px;
}

.imgwpp,
.imgemail,
.imgubication,
.f-contactanos,
.i-contactanos{  
    width: 30px
}

.img-googlemaps{ 
    width: 600px;
    margin-right: 100px;
}

.footer-contactanos{
    margin-top: 100px;
}

/*
PAGINA: SOBRE NOSOTROS
*/

.contenedor-sobrenosotros{
    background-color: #F4F4F4;
}

.sobre-nosotros{
    text-transform: uppercase;
    font-size: 35px;
    margin-left: 100px;
    margin-bottom: 60px;
    border-bottom: 1px solid #434343;
    margin-right: 70%;

}

.h3-sobrenosotros{
    margin-bottom: 30px;
    margin-left: 100px;
    text-transform: uppercase;
}

.contenedor-sobrenosotros h3:first-child{
    font-weight: bold;
}

.footer-sobrenosotros{
    margin-top: 220px;
}
/*
LOCALES
*/

.titulo-locales{
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: underline;
}

.texto-locales{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}


/*RESPONISVE*/

@media (max-width: 1024px){
    header div h1{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    nav{
        margin-left: 25%;
    }
    .header-input{
        display: flex;
        margin-left: 200px;
    } 
    .contenedor-productos{
        gap: 20px;
        margin-left: 380px;
    }   
    .f-p {
        height: 400px; /* Ajusta la altura según sea necesario */
        margin-bottom: 40px; /* Ajusta el margen inferior según sea necesario */
        width: 1024px;
        justify-content: center;
        align-items: center;
    }
    
  
    
    }
   

@media (max-width: 768px){
    
    nav{
        text-align: center
    }
    nav ul li{
        font-size: 24px;
    }
    .header-input{
        margin-left: 90px;
    }

    .persona-index,
    .carritodecompras{
        width: 30px;
    }

    .f-p{
        background-position: bottom;
    }

    .contenedor-productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 50px; 
    }  

    .contenedor-productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 50px;
            margin-left: 65%
    }  

   
    /*paginas*/

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 50%;
        gap: 50px;
 }   
    .section-titulos{
        padding-left: 300px;
        width: 100%;
    }

    
}